/* header bar */
div#header {
	height:35px;
	background: #cacaca; /* Old browsers */
	background: -moz-linear-gradient(top,  #cacaca 50%, #aba9a9 50%, #878787 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#cacaca), color-stop(50%,#aba9a9), color-stop(99%,#878787)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cacaca 50%,#aba9a9 50%,#878787 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cacaca 50%,#aba9a9 50%,#878787 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cacaca 50%,#aba9a9 50%,#878787 99%); /* IE10+ */
	background: linear-gradient(top,  #cacaca 50%,#aba9a9 50%,#878787 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#878787',GradientType=0 ); /* IE6-9 */
	 
	margin: 0;
	padding: 0 5px;
	 
	line-height: 30px;

	font-size: 14px;
	font-weight: bold;
	color: white;
	 
	text-decoration: none;
	white-space: nowrap;
}

#header ul{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

#header li {
	overflow:hidden;
	float:none;
	clear:both;
	width:100%;
	text-align:left;
	margin:0;
	border:1px #0 solid;
}

#header p {
	margin: 0;
	display: block;
	width:auto;
	height:auto;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	vertical-align:middle;
	text-shadow:
		0px 1px 1px rgba(0,0,255,0.2),
		0px -1px 0px rgba(255,255,255,0.7);
}

/*iPhone風戻るボタン*/
.buttonBack {

	-webkit-border-image: url(../images/backButtonBrdr.png) 0 8 0 14 / 0px 8px 0px 14px;
	-moz-border-image: url(../images/backButtonBrdr.png) 0 8 0 14 / 0px 8px 0px 14px;

	background: url(../images/backButtonBack.png) center center repeat-x;

	max-width: 10%;/*リキッド対応*/
	border-width: 0 8px 0 14px;

	position: absolute;
	overflow: hidden;
	top: 3px;
	left: 10px;

	margin: 0;
	padding: 0 5px;

	width: auto;
	height: 30px;

	line-height: 30px;

	font-size: 12px;
	font-weight: bold;
	color: white;

	text-shadow: rgba(0,0,0,0.6) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;

}

/* iPhone風ラジオボタン・チェックボックス */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch.gif) repeat-x; display: block; float: left; }
	.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
	.cb-enable span { background-position: left -90px; padding: 0 10px; }
	.cb-disable span { background-position: right -180px;padding: 0 10px; }
	.cb-disable.selected { background-position: 0 -30px; }
	.cb-disable.selected span { background-position: right -210px; color: #fff; }
	.cb-enable.selected { background-position: 0 -60px; }
	.cb-enable.selected span { background-position: left -150px; color: #fff; }
	.switch label   { cursor: pointer; }
	.switch input   { display: none; }
	.text-left span { line-height: 30px; display: block; float: left; cursor: auto; }

/**
 * CSS Buttons Generator for your pleasure!
 * http://www.dextronet.com/css-buttons-generator
 * 
 * (c) Ondrej Zabojnik <zabojnik@dextronet.com>, released under the MIT license
 * 
 * Usage: 
 *   <a href="" class="shiny-button"><strong>シャッフル</strong></a>
 * 
 */
.shiny-button {
	display: inline-block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.1;
	font-weight: normal;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #B10E0E;
	background-image: -webkit-linear-gradient(top, #b60e0e 0%, #c02828 48%, #B10E0E 49%, #B10E0E 82%, #cb1010 100%);
	background-image: -moz-linear-gradient(top, #b60e0e 0%, #c02828 48%, #B10E0E 49%, #B10E0E 82%, #cb1010 100%);
	background-image: -o-linear-gradient(top, #b60e0e 0%, #c02828 48%, #B10E0E 49%, #B10E0E 82%, #cb1010 100%);
	background-image: linear-gradient(top, #b60e0e 0%, #c02828 48%, #B10E0E 49%, #B10E0E 82%, #cb1010 100%);
	border-color: hsl(0, 22%, 37%);
	-webkit-box-shadow: inset 0 0 1px 1px #ee2c2c, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #ee2c2c, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #ee2c2c, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #520707;
	-moz-text-shadow: 1px 1px 1px #520707;
	-o-text-shadow: 1px 1px 1px #520707;
	text-shadow: 1px 1px 1px #520707;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 8.399999999999999px 21px 8.399999999999999px 21px;
}

.shiny-button strong {
	letter-spacing: 1px;
	font-size: 12px;
}

.shiny-button:hover {
	color: #FFFFFF;
	background-color: #bf0f0f;
	background-image: -webkit-linear-gradient(top, #c40f0f 0%, #cc2b2b 48%, #bf0f0f 49%, #bf0f0f 82%, #d91111 100%);
	background-image: -moz-linear-gradient(top, #c40f0f 0%, #cc2b2b 48%, #bf0f0f 49%, #bf0f0f 82%, #d91111 100%);
	background-image: -o-linear-gradient(top, #c40f0f 0%, #cc2b2b 48%, #bf0f0f 49%, #bf0f0f 82%, #d91111 100%);
	background-image: linear-gradient(top, #c40f0f 0%, #cc2b2b 48%, #bf0f0f 49%, #bf0f0f 82%, #d91111 100%);
	border-color: hsl(0, 22%, 40%);
	-webkit-box-shadow: inset 0 0 1px 1px #f03a3a, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #f03a3a, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #f03a3a, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #600808;
	-moz-text-shadow: 1px 1px 1px #600808;
	-o-text-shadow: 1px 1px 1px #600808;
	text-shadow: 1px 1px 1px #600808;
}

.shiny-button:active {
	color: #FFFFFF;
	background-color: #a30d0d;
	background-image: -webkit-linear-gradient(top, #9a0c0c 0%, #B10E0E 100%);
	background-image: -moz-linear-gradient(top, #9a0c0c 0%, #B10E0E 100%);
	background-image: -o-linear-gradient(top, #9a0c0c 0%, #B10E0E 100%);
	background-image: linear-gradient(top, #9a0c0c 0%, #B10E0E 100%);
	padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}

.shiny-button2 {
	display: inline-block;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.1;
	font-weight: normal;
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #73B10E;
	background-image: -webkit-linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
	background-image: -moz-linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
	background-image: -o-linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
	background-image: linear-gradient(top, #76b60e 0%, #86c028 48%, #73B10E 49%, #73B10E 82%, #84cb10 100%);
	border-color: hsl(83, 29%, 37%);
	-webkit-box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #95e512, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #365207;
	-moz-text-shadow: 1px 1px 1px #365207;
	-o-text-shadow: 1px 1px 1px #365207;
	text-shadow: 1px 1px 1px #365207;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 8.399999999999999px 21px 8.399999999999999px 21px;
}

.shiny-button2 strong {
	letter-spacing: 1px;
	font-size: 12px;
}

.shiny-button2:hover {
	color: #FFFFFF;
	background-color: #7cbf0f;
	background-image: -webkit-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
	background-image: -moz-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
	background-image: -o-linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
	background-image: linear-gradient(top, #7fc40f 0%, #8fcc2b 48%, #7cbf0f 49%, #7cbf0f 82%, #8dd911 100%);
	border-color: hsl(83, 28%, 36%);
	-webkit-box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 1px 1px #9eed1e, 0 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-text-shadow: 1px 1px 1px #3f6008;
	-moz-text-shadow: 1px 1px 1px #3f6008;
	-o-text-shadow: 1px 1px 1px #3f6008;
	text-shadow: 1px 1px 1px #3f6008;
}

.shiny-button2:active {
	color: #FFFFFF;
	background-color: #6aa30d;
	background-image: -webkit-linear-gradient(top, #649a0c 0%, #73B10E 100%);
	background-image: -moz-linear-gradient(top, #649a0c 0%, #73B10E 100%);
	background-image: -o-linear-gradient(top, #649a0c 0%, #73B10E 100%);
	background-image: linear-gradient(top, #649a0c 0%, #73B10E 100%);
	padding: 9.399999999999999px 21px 7.399999999999999px 21px;
}
